.aboutSection {
  height: calc(100vh - var(--header-height));
  background-color: rgba(0, 0, 0, 0.75);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutContent {
  max-width: 800px;
  position: relative;
}

.title {
  text-align: center;
  color: var(--white-color);
  font-size: var(--big-font-size);
  margin-bottom: 5rem;
}

.text {
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 2;
  line-height: 1.5;
  margin-bottom: 5rem;
}
