.menu__content {
  top: var(--header-height);
  width: 100%;
  height: 300px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
    url('../../public/images/dulces/bg-1.jpg');
  background-position: center;
  background-size: cover;

  padding: 0 calc((100vw - 1300px) / 2);
}

.menu__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  max-height: 100%;
  padding: 0 2rem;
  width: 650px;
  color: var(--bg-clr);
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;

  @media screen and (max-width: 650px) {
    width: 100%;
  }
}

.menu__title {
  font-size: clamp(2.5rem, 10vw, 5rem);
  margin-top: 5rem;
  margin-bottom: 1rem;
  box-shadow: 3px 3px var(--cta-clr);
  letter-spacing: 3px;
}
